.main .container .corpo1{margin-top: 20px;}
.main .container .corpo1 .box_tarefa{background-color: black; padding-top: 10px; margin-bottom: 10px;margin-top: 20px; padding-bottom: 10px; margin-right: 1px;}
.main .container .corpo1 .col-3{flex: 1 0 24%}
.class1{ background-color: yellow; margin: 20px; font-family: Arial, Helvetica, sans-serif;}
.icon {
    width:25px;
}
